<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.micro.android316.housekeeping">
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_head"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.OnlineOnsultant"/>

        <activity android:name=".activity.ToheaderActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeMainActivity"/>
        <activity android:name=".activity.GuideActivity"/>

        <activity android:name=".activity.Appointment"/>
        <activity android:name=".activity.Category">
        </activity>
        <activity android:name=".activity.Elderly"/>
        <activity android:name=".activity.Payment"/>
        <activity android:name=".activity.NannyInformation"/>
        <activity android:name=".activity.OrderConfirm"/>
        <activity android:name=".activity.RegisterActivity"></activity>
        <activity android:name=".activity.CommonAddressActivity"></activity>
        <activity android:name=".activity.PersonalInformationActivity"></activity>
        <activity android:name=".activity.Login"></activity>
        <activity android:name=".activity.MessageActivity"></activity>
        <activity android:name=".activity.SetActivity"></activity>

    </application>

</manifest>